.side-panel{
    height: 100vh;
    margin: 0;
    padding: 0;
    float: left;
    width: 68%;
    background-image: url('../../assets/img1.png');
    background-repeat: no-repeat;
    background-position: bottom;
  }
  .signupform{
    height: 100vh;
    float: left;
    width: 32%;
    background-color: #FFAC19;
    background-image: url(../../assets/imgg2.png);
  }