.book-ride-heading{
    float: left;
    width: 60%;
}
.match-text
{
    font-size: 12px;
    font-weight: bold;
    color: #A8A2A1;
    word-spacing: 2px;
}
.title-text{
    margin:0;
    padding-bottom: 10px;
}