.location-icon{
    color: #9319FF;
    margin-left: 2px;
    font-size: 22px;
}
.dot {
    height: 8px;
    width: 8px;
    background-color: #A8A2A1;
    border-radius: 50%;
    opacity: 0.5;
    display: block;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .location-dots
  {
    float: left;
    margin-left: 25px;
    margin-top: 32px;
  }
  .blue-dot{
    display: block;
    height: 15px;
    width: 15px;
    background-color: #9319FF;
    border-radius: 50%;
    margin-left: 2px;
  }