.left-panel{
    margin: 0;
    padding: 0;
    height: 100vp;
  }  
  h3{
    margin: 0;
    letter-spacing: 4px;
    color: #334053;
  }
  .text{
    font-size: 50px;
    font-style: italic;
    font-weight: bold;
    color: #334053;
  }
  .text-block{
    padding: 0 0 0 50px;
  }
  p
  {
    padding: 0;
    margin: 0;
    line-height: 100%;
  }